@model List<ProductCategoryViewModel>

<nav>
    <div class="container">
        <div class="row">
            <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="fa fa-align-justify"></i> </div>
                <span class="mm-label">Danh mục sản phẩm</span>
            </div>
            <div class="col-md-3 col-sm-3 mega-container hidden-xs">
                <div class="navleft-container">
                    <div class="mega-menu-title">
                        <h3><span>Danh mục sản phẩm</span></h3>
                    </div>

                    <!-- Shop by category -->
                    <div class="mega-menu-category">
                        <ul class="nav">
                            @foreach (var first in Model.Where(x => x.ParentId == null))
                            {
                                @if (Model.Any(x => x.ParentId == first.Id))
                                {
                                    <li>
                                        <a href="/@first.SeoAlias-c.@(first.Id).html">@first.Name</a>
                                        <div class="wrap-popup">
                                            <div class="popup">
                                                <div class="row">

                                                    @foreach (var second in Model.Where(x => x.ParentId == first.Id))
                                                    {
                                                        if (Model.Where(x => x.ParentId == first.Id).Count() >= 2)
                                                        {
                                                            <div class="col-md-4 col-sm-6 has-sep">
                                                                <h3>@second.Name</h3>
                                                                <ul class="nav">
                                                                    @foreach (var third in Model.Where(x => x.ParentId == second.Id))
                                                                    {
                                                                        <li><a href="/@third.SeoAlias-c.@(third.Id).html"><span>@third.Name</span></a></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-md-4 col-sm-6">
                                                                <h3>@second.Name</h3>
                                                                <ul class="nav">
                                                                    @foreach (var third in Model.Where(x => x.ParentId == second.Id))
                                                                    {
                                                                        <li><a href="/@third.SeoAlias-c.@(third.Id).html"><span>@third.Name</span></a></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                    }

                                                    <div class="col-md-4 has-sep hidden-sm">
                                                        <div class="custom-menu-right">
                                                            <div class="box-banner menu-banner">
                                                                <div class="add-right"><a href="/@first.SeoAlias-c.@(first.Id).html"><img src="@first.Image" alt="responsive"></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nosub">
                                        <a href="/@first.SeoAlias-c.@(first.Id).html">@first.Name</a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 jtv-megamenu">
                <div class="mtmegamenu">
                    <ul class="hidden-xs">
                        <li class="mt-root demo_custom_link_cms">
                            <div class="mt-root-item">
                                <a href="/trang-chu.html">
                                    <div class="title title_font"><span class="title-text">Trang chủ</span></div>
                                </a>
                            </div>
                        </li>
                        <li class="mt-root demo_custom_link_cms">
                            <div class="mt-root-item">
                                <a href="/danh-muc-tat-ca-san-pham.html">
                                    <div class="title title_font"><span class="title-text">Danh mục sản phẩm</span></div>
                                </a>
                            </div>
                            <ul class="menu-items col-md-3 col-sm-4 col-xs-12">
                                @foreach (var first in Model.Where(x => x.ParentId == null))
                                {
                                    <li class="menu-item depth-1">
                                        <div class="title"> <a href="/@first.SeoAlias-c.@(first.Id).html"><span>@first.Name</span></a></div>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="mt-root demo_custom_link_cms">
                            <div class="mt-root-item">
                                <a href="/blog-review-cong-nghe.html">
                                    <div class="title title_font"><span class="title-text">Blog - Review</span></div>
                                </a>
                            </div>
                            <ul class="menu-items col-md-3 col-sm-4 col-xs-12" style="top: 28px; left: 402.531px;">
                                <li class="menu-item depth-1">
                                    <div class="title"> <a href="blog_right_sidebar.html"> Blog – Right Sidebar </a></div>
                                </li>
                                <li class="menu-item depth-1">
                                    <div class="title"> <a href="blog_left_sidebar.html"> Blog – Left Sidebar </a></div>
                                </li>
                                <li class="menu-item depth-1">
                                    <div class="title"> <a href="blog_full_width.html"> Blog – Full-Width </a></div>
                                </li>
                                <li class="menu-item depth-1">
                                    <div class="title"> <a href="blog_single_post.html"> Single post </a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="mt-root">
                            <div class="mt-root-item">
                                <div class="title title_font"><span class="title-text">Best Seller</span></div>
                            </div>
                            <ul class="menu-items col-xs-12">
                                <li class="menu-item depth-1 product menucol-1-3 withimage">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Sale</div>
                                                <div class="pr-img-area">
                                                    <a title="Product title here" href="single_product.html">
                                                        <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="html theme"> <img class="hover-img" src="~/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item depth-1 product menucol-1-3 withimage">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Sale</div>
                                                <div class="pr-img-area">
                                                    <a title="Product title here" href="single_product.html">
                                                        <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="~/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item depth-1 product menucol-1-3 withimage">
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="icon-sale-label sale-left">Sale</div>
                                            <div class="icon-new-label new-right">New</div>
                                            <div class="product-thumbnail">
                                                <div class="icon-sale-label sale-left">Sale</div>
                                                <div class="pr-img-area">
                                                    <a title="Product title here" href="single_product.html">
                                                        <figure> <img class="first-img" src="~/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="~/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="Product title here" href="single_product.html">Product title here </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                        <div class="item-price">
                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="https://themeforest.net/item/shopmart-electronic-digital-store-ecommerce-html-templates/20477712?s_rank=9"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
