@model TemplateDotNetCore.Models.ProductViewModels.DetailViewModel
<div class="inner-box">
    <div class="container">
        <div class="row">
            <!-- Banner -->
            <div class="col-md-3 top-banner hidden-sm">
                <div class="jtv-banner3">
                    <div class="jtv-banner3-inner">
                        <a href="#"><img src="~/client-side/images/sub1.jpg" alt="HTML template"></a>
                        <div class="hover_content">
                            <div class="hover_data">
                                <div class="title"> Big Sale </div>
                                <div class="desc-text">Up to 55% off</div>
                                <span>Camera, Laptop & Mobile</span>
                                <p><a href="#" class="shop-now">Get it now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Best Sale -->
            <div class="col-sm-12 col-md-9 jtv-best-sale special-pro">
                <div class="jtv-best-sale-list">
                    <div class="wpb_wrapper">
                        <div class="best-title text-left">
                            <h2>Special Offers</h2>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div id="jtv-best-sale-slider" class="product-flexslider">
                            <div class="slider-items">
                                @foreach (var product in Model.ProductList)
                                {
                                    var url = "/" + product.SeoAlias + "-p." + product.Id + ".html";
                                    <div class="product-item">
                                        <div class="item-inner">
                                            @if (product.NewFlag == true)
                                            {
                                                <div class="icon-new-label new-right">New</div>
                                            }
                                            @if (product.HotFlag == true)
                                            {
                                                <div class="icon-sale-label sale-left">Hot</div>
                                            }
                                            <div class="product-thumbnail">
                                                <div class="pr-img-area">
                                                    <a title="@product.Name" href="@url">
                                                        <figure> <img class="first-img" src="@product.Image" alt="@product.SeoKeywords"> <img class="hover-img" src="@product.Image" alt="@product.SeoKeywords"></figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart-o"></i> </a> </div>
                                                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-link"></i> </a> </div>
                                                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a title="@product.Name" href="@url">@product.Name </a> </div>
                                                    <div class="item-content">
                                                        <div class="rating">
                                                            @for (int i = 1; i <= product.Star; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int i = 1; i <= (5 - product.Star); i++)
                                                            {
                                                                <i class="fa fa-star-o"></i>
                                                            }
                                                        </div>
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @product.Price </span> </p>
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @product.PromotionPrice </span> </p>
                                                            </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart"><span> Add to Cart</span> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>